<div class="row">
  <div class="small-3 large-3 columns">
    <% if @cards.aggs["cmc"].present? %>
      <span>Mana Cost</span>
      <% if params[:cmc] %>
        <p>
          <span class="label">Mana Cost of <%= params[:cmc] %></span>
        </p>
      <% else %>
      <ul>
        <% @cards.aggs["cmc"]["buckets"].each do |filter| %>
          <li>
            <%= link_to "#{filter["key"]} (#{filter["doc_count"]})", search_path(cmc: filter['key'], rarity: params[:rarity], types: params[:types], colors: params[:colors]) %>
          </li>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <% if @cards.aggs["rarity"].present? %>
      <span>Rarity</span>
      <% if params[:rarity] %>
        <p>
          <span class="label">Rarity of <%= params[:rarity] %></span>
        </p>
      <% else %>
      <ul>
        <% @cards.aggs["rarity"]["buckets"].each do |filter| %>
          <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", search_path(cmc: params[:cmc], rarity: filter['key'], types: params[:types], colors: params[:colors]) %>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <% if @cards.aggs["types"].present? %>
      <span>Types</span>
      <% if params[:types] %>
        <p>
          <span class="label">Type of <%= params[:types] %></span>
        </p>
      <% else %>
      <ul>
        <% @cards.aggs["types"]["buckets"].each do |filter| %>
          <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", search_path(cmc: params[:cmc], rarity: params[:rarity], types: filter['key'], colors: params[:colors]) %>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <% if @cards.aggs["colors"].present? %>
      <span>Colours</span>
      <% if params[:colors] %>
        <p>
          <span class="label">Colour of <%= params[:colors] %></span>
        </p>
      <% else %>
      <ul>
        <% @cards.aggs["colors"]["buckets"].each do |filter| %>
          <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", search_path(cmc: params[:cmc], rarity: params[:rarity], types: params[:types], colors: filter['key']) %>
        <% end %>
      </ul>
      <% end %>
    <% end %>
    <%= link_to 'Reset Filters', search_path, class: 'button' %>
  </div>
  <div class="small-9 large-9 columns">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th width="150">Mana Cost</th>
          <th width="150">Rarity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
        <tr>
          <td class="img-preview">
            <img rel="https://s3-eu-west-1.amazonaws.com/mtgdb-production/<%= card.magic_set.code.downcase %>/<%= CGI.escape(card.name) %>.full.jpg" src="https://image.deckbrew.com/mtg/multiverseid/<%= card.multiverse_id %>.jpg" width="100px;">
          </td>
          <td><%= link_to card.name, card_path(card) %></td>
          <td><%= mana_cost_to_icons(card.mana_cost) %></td>
          <td><%= card.rarity %></td>
          <td><%= card.magic_set.name %> <i class="ss ss-<%= card.magic_set.code.downcase %> ss-2x ss-<%= card.rarity.downcase %>"></i></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @cards %>
  </div>
</div>
